gym >= 0.17.2
numpy >= 1.18.5
pandas
requests
torch
torchvision
tensorboard >= 2.3.0
tensorflow >= 2.3.0
tqdm >= 4.37.0
keras
scikit-learn
holoviews
bokeh==2.1.1
ipywidgets
psutil
jupyterlab
jupyter-server-proxy
beautifulsoup4
lxml
pytz
ray[all]==0.8.7
atoma
box2d-py
