gym >= 0.17.2
numpy >= 1.18.5
pandas
requests
torch
torchvision
tqdm >= 4.37.0
keras
scikit-learn
ipywidgets
psutil
lxml
dm-tree
scikit-image
lz4
pytz
ray[default, tune, rllib, serve]
xgboost
xgboost-ray
tune-sklearn
tensorboard >= 2.3
tensorflow >= 2.3
atoma
box2d-py
jupyter
jupyterlab
mlflow
vaderSentiment
gputil
