pandas
requests
tensorflow
keras
scikit-learn
holoviews
bokeh
ipywidgets
psutil
jupyterlab
jupyter-server-proxy
beautifulsoup4
lxml
setproctitle
pytz
ray[rllib]=0.8.5
ray[tune]=0.8.5
ray[debug]=0.8.5
atoma
cffi
cryptography
pyOpenSSL
PySocks
anyscale
