tensorflow==2.8
torch==1.12.1
pyarrow==6.0.1
matplotlib==3.5.3
# Note for Anyscale users: install ray from latest nightly wheel
ray
dm-tree
gym==0.21
pyglet
tabulate
tqdm
lz4
tensorboardX
tensorflow_probability
# Note move this to post-processing due to install flags
#recsim --no-deps  
gin-config
# Note move this to post-processing due to install flags
#git+https://github.com/google/dopamine --no-deps 
seaborn
